_Store
build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.iml

.gradle
android/TrashCam/local.properties
android/TrashCam/gradle/local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
android/TrashCam/build
android/TrashCam/app/build

